#!/usr/bin/make -f

%:
	dh $@ --with phpcomposer

override_dh_auto_build:

override_dh_auto_test:

override_dh_install:
	install -d debian/php-symfony-dependency-injection/usr/share/php/Symfony/Component/DependencyInjection
	find . -maxdepth 1 -mindepth 1 \
		! -name 'Tests' ! -name 'debian' ! -name '.git' \
		! -name '.github' ! -name '.gitignore' ! -name '.gitattributes' \
		! -name 'composer.json' ! -name 'phpunit.xml.dist' \
		! -name 'README.md' ! -name 'CHANGELOG.md' ! -name 'LICENSE' \
		-exec cp -rp {} debian/php-symfony-dependency-injection/usr/share/php/Symfony/Component/DependencyInjection/ \;
